$white: #f9f9f9;
$success: #4CD243;
$success-light: rgb(131, 245, 122);
$warning: #ffd14c;
$warning_mk2: #ffea76;
$warning-light: #fff0be;
$danger: #ff6161;
$tertiary: #d8d8d8;
$secondary: #7526CF;
$secondary-light: rgb(134, 45, 236);
$primary: #7CA4F3;
$primary-light: #CADCFD;
