:root {
  --space-unit:  20px;
  --space-xs:    calc(0.25 * var(--space-unit));
  --space-sm:    calc(0.5 * var(--space-unit));
  --space-md:    calc(1 * var(--space-unit));
  --space-lg:    calc(1.5 * var(--space-unit));
  --space-xl:    calc(1.75 * var(--space-unit));
  --space-xxl:    calc(2.5 * var(--space-unit));
  --component-padding: var(--space-md);
}

.separater {
  margin-top: var(--space-md);
  margin-bottom: var(--space-md);
  height: 2px;
  width: 100%;
  background-color: white;
}
