.category {
  display: flex;
  &-contents {
    margin-top: 30px;
    background-color: $white;
    // width: 100%;
    margin: {
      left: 270px;
      right: 200px;
    }
    text-align: start;
  }

  &-list {
    display: flex;
    flex-wrap: wrap;
  }
}
