@function detailw($detailw: 1000px, $payw: 0px) {
  @return $detailw + $payw
};
.apiDetail {
  display: flex;
  position: relative;
  margin: {
    left: 270px;
    right: 100px;
  }
  .listDetail-content {
    min-width: 1100px;
    width: 100%;
  }
  .listDetail-ad {
    position: fixed;
    right: 50px;
  }
}

.listDetail {
  background-color: white;
  position: relative;
  text-align: start;
  margin: {
    top: var(--space-md);
    bottom: var(--space-xxl);
  }
  box-shadow: var(--shadow-sm);
  border-radius: var(--space-md);

  min-height: 25%;
  width: 91%;
  &-guide {
    height: 64%;
  }
}

.detail {
  position: relative;
  width: 95%;

  top: 20px;
  left: 25px;
  margin: 0;
  &-Header {
    h1 {
      margin: {
        bottom: 10px;
      }
    }
  }
  &-Table {
    display: flex;
    margin: {
      top: 25px;
    }
    &-left {
      table {
        table-layout: fixed;
        width: 500px;
        height: 350px;
      }
    }
    &-right {
      word-break:break-all;
      table {
        padding-left: var(--space-sm);
        table-layout: fixed;
        width: 100%;
        height: 288px;
      }
    }
    &-subTitle {
      text-align: left;
      width: 140px;
    }
  }
  &-subTable {
    background-color: rgba(119, 119, 119, 0.212);
  }
}
.link:hover {
  cursor: pointer;
}
